<div class="list-container">
    <mat-card>
        <div class="table-header">
            <h3>
                <button mat-button [routerLink]="['/']">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                Add Product
            </h3>
        </div>
        
        <div class="Form">
            <form [formGroup]="productForm">
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let cat of categories" value="cat">{{cat}}</mat-option>
                    </mat-select>
                    <!-- <input matInput > -->
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <div class="submit">
                    <button mat-raised-button color="primary" (click)="onSubmitClicked()">Save</button>
                </div>
            </form>
        </div>

    </mat-card>
</div>