:host::ng-deep.mat-card{
    width: 92%;
    margin: 25px auto;
}

h3{
    color: blue;
    font-size: 25px;
    font-weight: 500;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.submit{
    text-align: right;
}