
<div class="container-body">
    <mat-card (click)="navigateTo('view')">
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">list</mat-icon>
        <h3>View Product List</h3>
    </mat-card>
    <mat-card (click)="navigateTo('add')">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
        <h3>Add Product</h3>
    </mat-card>
</div>