.container-body{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}
:host::ng-deep.mat-card{
    height: 30%;
    margin: auto;
    width: 25%;
    text-align: center;
    line-height: 9;
    cursor: pointer;
}
:host::ng-deep.mat-card > h3{
    font-weight: 600;
    color: blue;
}
:host::ng-deep.mat-icon{
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 50%;
    font-size: 24px;
    background: #6495edb0;
    color: aliceblue;
}