:host::ng-deep.mat-icon{
    font-size: 20px;
    color: yellow;
}
:host::ng-deep.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    line-height: 0;
    border-radius: 50%;
}