:host::ng-deep.mat-card{
    width: 92%;
    margin: 25px auto;
}

h3{
    color: blue;
    font-size: 25px;
    font-weight: 500;
}
.image{
    width: 250px;
    object-fit: cover;
}
.info-container,.image-info{
    display: flex;
    justify-content: space-around;
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 16px;
}
.info.labels{
    font-size: 16px;
    font-weight: 600;
    color: blue;
}
h2{
    font-size: 30px;
    color: blue;
}
  
