<div class="list-container">
    <mat-card>
        <div class="table-header">
            <h3>
                <button mat-button [routerLink]="['/product-list']">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
                Product Details
            </h3>
        </div>
        
        <div class="product-detail" *ngIf="productDetails">
            <div class="info-container">
                <img class="image" [src]="productDetails.image">
                <div class="image-info">
                    <div class="info labels">
                        <span>Title </span> 
                        <span>Category </span> 
                        <span>Price </span>
                        <span>Rating</span>
                    </div>
                    <div class="info">
                        <span> {{productDetails.title}}</span>
                        <span>{{productDetails.category}}</span>
                        <span>{{productDetails.price}}</span>
                        <span>
                            <app-star-rating [rating]="productDetails.rating.rate"  [starCount]="starCount" [color]="starColor"></app-star-rating> ({{productDetails.rating.count}})
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="desc">
                <h2>Description</h2>
                <p>
                    {{productDetails.description}}
                </p>
            </div>

        </div>

    </mat-card>
</div>
